<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LinesLimit" value="50" />
    <add key="InputFiles" value="test.txt,costam.txt,costam2.txt" />
    <!--Coma separated if many-->
    <add key="OutputFile" value="Exec_Output_File" />
    <add key="OutputDirectoryPath" value="New" />
    <add key="OutputExtension" value=".txt" />
    <!--Name postfix-->
    <add key="Iterator" value="1" />       
  </appSettings>
</configuration>
